= nested_form_for @invoice do |f|
  - if @invoice.errors.any?
    #error_explanation
      %h2
        = pluralize(@invoice.errors.count, "error")
        prohibited this invoice from being saved:
      %ul
        - @invoice.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :company_id
    = f.collection_select :company_id, Company.order(:name),:id,:name, {prompt: "Select a Seller"}, {class: "form-control"}
    = f.label :customer_id
    = f.collection_select :customer_id, Company.order(:name),:id,:name, {prompt: "Select a Customer"}, {class: "form-control"}
  %h2 Items
  = f.link_to_add "Add an item", :items, class: "pull-right"
  %br/
  = f.fields_for :items do |item|
    .item_fields
      .field
        = item.label :name
        %br/
        = item.text_field :name, class: "form-control"
      .field
        = item.label :description
        %br/
        = item.text_area :description, class: "form-control"
      .field
        = item.label :price
        %br/
        = item.text_field :price, class: "form-control"
      .field
        = item.label :quantity
        %br/
        = item.number_field :quantity, class: "form-control"
        %br/
        = item.link_to_remove "Remove this item"
  .actions.pull-right
    = f.button :submit, class: "btn btn-primary"
    = link_to 'Back', invoices_path, class: "btn btn-default"
