= form_for(@invoice) do |f|
  - if @invoice.errors.any?
    #error_explanation
      %h2
        = pluralize(@invoice.errors.count, "error")
        prohibited this invoice from being saved:
      %ul
        - @invoice.errors.full_messages.each do |message|
          %li= message
  .field
    = f.collection_select :company_id, Company.order(:name),:id,:name
  .field
    = f.collection_select :customer_id, Company.order(:name),:id,:name
  %h2 Items
  = f.fields_for :items do |item|
    .item_fields
      .field
        = item.label :name
        %br/
        = item.text_field :name
      .field
        = item.label :description
        %br/
        = item.text_area :description
      .field
        = item.label :price
        %br/
        = item.text_field :price
      .field
        = item.label :quantity
        %br/
        = item.number_field :quantity
  .actions
    = f.submit
