%p#notice= notice
%p
  %strong Company:
  = @invoice.company.name
%p
  %strong Customer:
  = @invoice.customer.name
%p
%table
  %thead
    %strong Items:
  %tbody
    - @invoice.items.each do |item|
      %tr
        %td= item.name
        %td= item.description
        %td= item.price
        %td= item.quantity
= link_to 'Edit', edit_invoice_path(@invoice)
|
= link_to 'Back', invoices_path
