.container-fluid
  .row
    .col-md-8.col-md-offset-2
      %p#notice= notice
      %h1 Listing Companies
      %table.table
        %thead
          %tr
            %th Name
            %th Sold
            %th Bought
        %tbody
          - @companies.each do |company|
            %tr
              %td= company.name
              %td= number_to_currency(company.calculate_value(company.invoices))
              %td= number_to_currency(company.calculate_value(company.customer_invoices))
              %td= link_to 'Details', company, class: :"btn btn-sm btn-default"
              %td= link_to 'Edit', edit_company_path(company), class: :"btn btn-sm btn-default"
              %td= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' },class: :"btn btn-sm btn-danger"