%p#notice= notice
%h1 Listing Companies
%table
  %thead
    %tr
      %th Name
      %th{:colspan => "3"}
  %tbody
    - @companies.each do |company|
      %tr
        %td= company.name
        %td= link_to 'Show', company
        %td= link_to 'Edit', edit_company_path(company)
        %td= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }
        %table
          %thead
            %tr
              %th Items
              %th{:colspan => "3"}
          %tbody
            - company.invoices.each do |invoice|
              - invoice.items.each do |item|
                %tr
                  %td= item.name
                  %td= item.description
                  %td= item.price
                  %td= item.quantity
%br/
= link_to 'New Company', new_company_path
